<div class="header text-left">
    <!-- <div class="header"> -->
    <a class="navbar-brand marginImg" href="https://leal.co/">
        <img class="imgHeader" src="https://www.doublevpartners.com/assets/images/shared/dvp-logo.svg" alt="">
    </a>
    <!-- </div> -->
</div>
<div class="container-fluid">
    <div class="row vh-100 text-center">
        <div class="col-md-4 content-search p-3">
            <app-search-user></app-search-user>
        </div>
        <div class="col-md-7 content-result p-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>