.header {
    background: linear-gradient(.25turn, #000, #022032, #000);
}

.marginImg {
    margin: 1%;

    .imgHeader {
        margin: 1%;
    }
}

.container-fluid {
    padding: 1%;
    background-color: #3156a7;
    .content-search {
        margin-left: 4%;
        background-color: #FFF3F1;
        box-shadow: 0 10px 10px #00000040;
        border-radius: 1%;
        margin-left: 1%;
    }

    .content-result {
        background-color: #FFF3F1;
        box-shadow: 0 10px 10px #00000040;
        border-radius: 1%;
        margin-left: 1%;
    }
}

.form-group {
    padding: 2%;
}